section{
    padding-left: 15rem;
    padding-right: 15rem;
    margin: 0.5rem;
}

.callout1{
    background-color: wheat;
    text-align: center;
    float: left;
    margin: 0.5rem;
    padding: auto;
    width: 45%;
}

.callout2{
    background-color: wheat;
    text-align: center;
    float: right;
    margin: 0.5rem;
    padding: auto;
    width: 45%;
}

.callout3{
    background-color: wheat;
    text-align: center;
    float: left;
    margin: 0.5rem;
    padding: auto;
    width: 45%;
}

h2{
    text-align: center;
    margin: 0.5rem;
    padding: auto;
}

.video{
    margin: 0.5;

}


* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    float: left;
    width: 70%;
    background: #f1f1f1;
    margin: auto;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 12px;
    background: #9aa1a5;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #b8c0c4;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
